Releases/
.DS_Store

# Xcode user state
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# More Xcode user data
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

